<html>
<head>
  <title><%= @title %> | Moolah</title>
  <link rel="stylesheet" href="css/app.css" />
</head>
<body>
<header>
  <span class="title">
    Moolah
  </span>
  <span class="floatR">
    <a href="/logout"><img src="images/logout.png" class="logout"/></a>
  </span>
  <p>Pay Anyone, Anytime.</p>
</header>
<div class="container">
  <div class="content">
    <%= yield %>
  </div>
</div>
<footer>
  <p> This app is intended for training purposes only. </p> 
  <p> &copy <%= Time.now.year %> Moolah. All rights reserved.</p> 
</footer>
</body>
</html>