<h2 class="page_title">Profile</h2>
<p class="label blue">Name:</p>
<p class="profile_data"><%= session[:user][:name] %></p>
<p class="label blue">Email Address:</p>
<p class="profile_data"><%= session[:user][:email] %></p>
<p class="label blue">Phone Number:</p>
<p class="profile_data"><%= session[:user][:phone] %></p>
<p class="label blue">Password:</p>
<p class="profile_data"><%= session[:user][:password] %></p>
<p class="top-20"><a href="/account">View Account >></a></p>