<div id="content">
<h2 class="page_title">Send Payment</h2>
  <form id="send_payment" action="/send_payment" method="post">
    <p>
      <label for="username">Username:</label>
      <input name="username" type="text" />
    </p>
    <p>
      <label for="amount">Amount:</label>
      <input name="amount" type="text" />
    </p>
    <p>
      <label>Message:</label><br>
      <textarea id="message" name="message" rows="6" cols="60"></textarea>
    </p>
    <input class="btn_input btn_primary" type="submit" value="Submit" />
  </form>
</div>